* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0%;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.App {
  background-color: #ffe3e3;
  min-height: 100vh;
  max-height: 1000vh;
}

.logo {
  width: 100px;
}

img {
  width: 100%;
  height: 50%;
}
